body {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 100px;
}

.enmySquare {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-color: lightgray;
    border-style: solid;
}

.divider {
    height: 25px;
    background-color: slategrey;
}

.goodSquare {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-color: lightgray;
    border-style: solid;
}



/* #B1, #B2, #B3, #B4, #B5, #B6 {
    background-color: red;
    margin: auto;
    display: flex;
    float: left;
}

#C1, #C2, #C3, #C4, #C5, #C6 {
    background-color: yellow;
    margin: auto;
    display: flex;
    float: left;
} */