body{
    background-color: black;
}

h1 {
    color: red;
    text-align: center;
    font-size: 100px;
}

p {
    color: white;
    text-align: center;
    font-size: 50px;
}

#startG {
    display: flex;
    margin: auto;
    background-color: aquamarine;
    height: 60px;
    width: 300px;
}

.test {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-color: gray;
    border-style: solid;
}

.PlayerSQ {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-color: lightgray;
    border-style: solid;
}